#homepageContainer{
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../../../public/background_mobile.jpeg);
  background-size: 130% 100vh;
  margin: auto;
  background-position: center;
  background-attachment: fixed;
  opacity: 1;
}

@media screen and (min-width: 500px){
  #homepageContainer{
    background-size: 100%;
  }
}

nav {
  opacity: 0;
}

.app {
  height: 100vh;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
header{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  word-break: keep-all;
}
header > h1 {
  font-size: min(10vw, 46px);
  color: white;
  opacity: 0;
  word-break: keep-all;
}
section{
  height: 100vh;
  color: white;
  padding: 15px;
  position: relative;

}
h2 {
  opacity: 0;
  text-align: center;
}
section > p {
  text-align: center;
}

section .planeIcon{
  font-size: 50px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) rotate(180deg);
}